.btn.rounded-pill{
    color: #fff;
    background-color: #21b573;
}
.orange-text{
    color: orange;
}
.schedule{
    font-size: 2.5vw;
    padding: 1rem 0;
}
.small-text{
    color: gray;
    padding-bottom: 2rem;
}
.selected{
    border:none;
    border-radius: 10px;;
    box-shadow: 2px 4px rgb(211, 206, 206);
}
.hov{
    border: none;
    background-color: #f0fff0;
    border-radius: 10px;
    width: 450px;
}
.hov:hover{
    box-shadow: 2px 4px gray;
    background-color: #fff;
    width: 460px;
}
.card-body{
    text-align: center;
    border: none;
}